@reference "../../../index.css";

@scope (.card__regulationMark) {
  :scope {
    position: relative;
    block-size: 100%;
    inline-size: 100%;
  }

  .card__regulationMarkBase {
    @apply absolute;
    inset: -2% -3.03%;
  }

  .card__regulationMarkLetter {
    @apply absolute;
    inset: 24% 27.27% 20% 30.3%;
  }
}
